@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  font-size: larger;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: ">  ";
}

img {
  border-radius: 50%;
  float: right;
  height: 50px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
